<h1>アプリケーションを作るうえでセキュリティ対策がいかに重要かを検証する</h1>
<br />
<h2>最初にカスタマ登録が必要です</h2>

<div>
  <h2>各チームのジョーカーをハッキングして、宝の部屋を解錠しよう！！！</h2>
  <%= image_tag "academy_content/administrator/map.png", class: "top_image" %>
</div>

